# (2018) WEARENOTALONE

[Unit]
Description=prepare-container
#DefaultDependencies=no
After=local-fs.target
ConditionFileIsExecutable=/usr/bin/prepare-container

[Service]
Type=oneshot
PassEnvironment=DISPLAY DEVIL_HOME
ExecStart=/usr/bin/prepare-container
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=basic.target
