# Copyright (c) 2016-2019 Jakob Meng, <jakobmeng@web.de>
#
# References:
#  https://cgit.kde.org/kdesrc-build.git/plain/kdesrc-buildrc-kf5-sample
#  https://cgit.kde.org/kdesrc-build.git/plain/kdesrc-buildrc-sample

# This is a sample kdesrc-build configuration file appropriate for KDE
# Frameworks 5-based build environments.
#
# See the kdesrc-buildrc-sample for explanations of what the options do, or
# view the manpage or kdesrc-build documentation at
# https://docs.kde.org/trunk5/en/extragear-utils/kdesrc-build/index.html
global
    branch-group kf5-qt5
    kdedir {{ install_prefix }} # Where to install KF5-based software
    qtdir  /usr # Where to find Qt5

    # Where to download source code. By default the build directory and
    # logs will be kept under this directory as well.
    source-dir /usr/local/src/kdesrc

    ignore-kde-structure true
    # make-options -j4
    # make-install-prefix sudo -S
    install-after-build false
    cmake-options -G Ninja -DCMAKE_BUILD_TYPE=RelWithDebInfo
    custom-build-command ninja
    kde-languages de
    
    run-tests false
end global

# Instead of specifying modules here, the current best practice is to refer to
# KF5 module lists maintained with kdesrc-build by the KF5 developers. As new
# modules are added or modified, the kdesrc-build KF5 module list is altered to
# suit, and when you update kdesrc-build you will automatically pick up the
# needed changes.

# NOTE: You MUST change the path below to include the actual path to your
# kdesrc-build installation.
include /usr/local/src/kdesrc/kdesrc-build/kf5-qt5-build-include

# If you wish to maintain the module list yourself that is possible, simply
# look at the files pointed to above and use the "module-set" declarations that
# they use, with your own changes.

# It is possible to change the options for modules loaded from the file
# included above (since it's not possible to add a module that's already been
# included), e.g.
options kcoreaddons
    # make-options -j4
end options

# https://github.com/KDE/clazy
options clazy
    branch 1.6
end options

# https://github.com/KDE/kdevelop-pg-qt
options kdevelop-pg-qt
    branch 2.2
end options

# KDevPlatform has been moved into kdevelop.git:kdevplatform/
# https://github.com/KDE/kdevplatform
#options kdevplatform
#    branch 5.1
#end options

# https://github.com/KDE/kdevelop
options kdevelop
    branch 5.5
end options

# https://github.com/KDE/kdev-php
options kdev-php
    branch 5.5
end options

# https://github.com/KDE/kdev-python
options kdev-python
    branch 5.5
end options

# https://github.com/KDE/kdev-valgrind
options kdev-valgrind
    branch master # 5.1 is too old for kdevelop 5.3
end options
